.vs/
x64/
log.txt
log_1.txt
log_2.txt
sim_user.cfg
sim.exe
sim.pdb
*.raw
*.obj
/out/*
/bin/
.cproject
.project
.settings/
/build/*
/art/exported
/art/packed
/sound/assets
*.log
*.oct
*.rar
*.zip
archive.bat
*.tiled-session
build-sim
